@media (max-width: 768px) {
    body{
        font-size: 14px;
        overflow-x: hidden;
    }

    h1{
        font-size: 18px !important;
    }
    h2{
        font-size: 16px !important;
    }

    .section_row h2{
        text-align: center;
    }

    .filters-row-group{
        gap: 20px;
    }
    
    .row{
        padding: 10px 0;
    }
    .filters{
        margin: 10px 20px;
    }
    .card {
        width: 330px;
    }
    .nav-menu {
      display: none;
      flex-direction: column;
      background-color: white;
      position: absolute;
      top: 60px;
      right: 0;
      width: 250px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      z-index: 1001;
    }
  
    .nav-menu ul {
      flex-direction: column;
      gap: 15px;
      padding: 20px;
    }
  
    .burger-menu {
      display: flex;
    }
      .reset-button {
      width: 100%;
      padding: 12px;
      font-size: 16px;
    }
   .filter-group {
      margin-bottom: 10px;
    }
}

